<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo.jpg"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Back to Started</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">| &nbsp; Zugangsproblem Tickets</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  
<div class="container">
    <form method="POST">
        <div class="row" style="display: flex;align-items: center;flex-direction: column;justify-content: center;">
            <div class="title text-center my-5">
                <span class="h3 text-danger">
                    Boss Balance of Storage system AG- Freshdesk support center
                </span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 shadow">
                <div class="form-group">
                    <label for="exampleInputEmail1">User Name</label>
                    <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User Name">
                </div>
                <div class="form-group my-3">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group col-4 offset-8 text-center text-primary" style="cursor: pointer;">
                    <a class="form-check-label" for="exampleCheck1">Forget password?</a>
                </div>

                    <button type="submit" (click)="signin()" class="btn btn-block btn-primary col-12 my-4">Sign in</button>
            </div>
        </div>
      </form>
</div>
